.barranegra{
    background-color: orange;
    color: white;
    width: auto;
    height: auto;
    margin-top:90px;
}
.texto{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}