@import url("https://fonts.googleapis.com/css?family=Nosifer&display=swap");

.cuadroFoto {
  width: 180px;
  height: 180px;
  margin-left: 15px;
  margin-top: 10px;
}

.cuadroVerde {
  border-radius: 30px;
  background-color: rgb(90, 228, 175);
  width: 200px;
  height: 200px;
}

.cuadroAzul {
  border-radius: 30px;
  background-color: rgb(105, 224, 224);
  width: 200px;
  height: 200px;
}

.alineacionFoto1 {
  margin-left: 350px;
  margin-top: 80px;
}

.alineacionFoto2 {
  margin-left: 350px;
  margin-top: 50px;
}

.cuadroPlomo {
  background-color: whitesmoke;
  width: 700px;
  height: 200px;
}

.alineacionCuadroTexto {
  margin-left: 600px;
  margin-top: -210px;
}


.textoCuadro {
  text-align: center justify;
  font-family: "Nosifer", cursive;
  font-size: 13px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 20px;
  height: 200px;
}



